

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border: 1px solid;
  width: 280px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 70px;
}

.frase{
color: blue;
margin-top: 15px;
}